.navbar-wrapper {
  position: fixed;
  display: flex;
  flex-direction: row;
  padding: 15px 0px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
}

.navbar-logo {
  margin-left: 40px;
}
.buttons-wrapper {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
}

.login {
  background: #eeeeee;
  border-radius: 5px;
  border: #eeeeee 1px solid;
  padding: 8px 15px;
  font-weight: bold;
}

.signup {
  margin-left: 30px;
  background: #db4c3f;
  border-radius: 5px;
  border: #db4c3f 1px solid;
  padding: 8px 15px;
  color: white;
  font-weight: bold;
}
